@model WebApplication76.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация</h2>
@using (Html.BeginForm("Register", "Home"))
{
    @Html.LabelFor(m=>m.login)
    <br />
    @Html.TextBoxFor(m => m.login)
    <br />
    @Html.LabelFor(m => m.password)
    <br />
    @Html.TextBoxFor(m => m.password)
    <br />
    @Html.LabelFor(m => m.passwordTwo)
    <br />
    @Html.TextBoxFor(m => m.passwordTwo)
    <br />
    @Html.LabelFor(m => m.email)
    <br />
    @Html.TextBoxFor(m => m.email)
    <br />
    <br />
    <input class="btn btn-info" type="submit" name="submit" value="Регистрация" />
}
