<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <div>
                    @Html.ActionLink("Главная", "Index", "Home")
                    <br />
                    <hr />
                    @Html.ActionLink("Пользователи", "Index", "Customers")
                    <br />
                    <hr />
                    @Html.ActionLink("Товары", "Index", "Products")
                    <br />
                    <hr />
                    @Html.ActionLink("Заказы", "Index", "Orders")
                    <br />
                    <hr />
                    @Html.ActionLink("Отчет по одному пользователю", "DetailsCustomer", "Home")
                    <br />
                    <hr />
                    @Html.ActionLink("Отчет суммарный за период", "DetailsDateToDate", "Home")
                    <br />
                    <hr />
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</body>
</html>

