@model IEnumerable<WebApplication31.Models.EF.Orders>
@{
    ViewBag.Title = "DetailsDateToDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Text</h2>
<br />
<hr />

@using (Html.BeginForm("DetailsDateToDate", "Home"))
{
    @Html.Label("Дата с которой построить отчет")
    <br />
    <input type="date" name="NameStart" />
    <br />
    @Html.Label("Дата до котрой построить отчет")
    <br />
    <input type="date" name="NameFinish" />
    <br />
    <input type="submit" name="MySubmit" value="Вычислить" />
    <br />
    <hr />
}

<hr />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.DateAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.DateReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.Email)
            </th>
            <th>
                Количество продаж
            </th>
            <th>
                Сумма за указанный период
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.NameProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.DateAdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.DateReg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.Email)
                </td>
                <td>
                    &nbsp;  
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        }
    </table>
}
