@model WebApplication87.Models.EF.Orders

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Действительно УДАЛИТЬ??</h3>
<div>
    <h4>Удаление заказа</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderCountProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCountProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDateOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDateOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.UserFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.UserFirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="УДАЛИТЬ" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
